main {
    margin-top: 60px;
    padding: 20px;
    min-height: 100vh;
}
.title {
    position: sticky;
    top: 64px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.448);
    padding: 20px;
    color: wheat;
}
.title h2 {
    text-align: center;
}