

<main>
    <button (click)="setLanguage('id')" >Id</button>
    <button (click)="setLanguage('en')" >En</button>
    <h2>{{ "title" | translate }}</h2>
    <button (click)="openDialog()" mat-raised-button color="primary">{{ "add" | translate }}</button>
    <div class="row">
        <app-promo-card class="col" *ngFor="let promo of promos" [promo]='promo'></app-promo-card>
    </div>
    <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons="true">
    </mat-paginator>
</main>