<h2>Add Stock Data</h2>
<div class="close" (click)="close()">
  <strong>X</strong>
</div>
<form [formGroup]="formStock" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !formStock.get('name')?.valid &&
          formStock.get('name')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="formStock.get('name')?.errors?.['required']"
          >name must fill</mat-error
        >
    </mat-error>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="text" formControlName="stock" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !formStock.get('stock')?.valid &&
          formStock.get('stock')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="formStock.get('stock')?.errors?.['required']"
          >stock must fill</mat-error
        >
    </mat-error>


    <div class="btn">
      <button mat-raised-button type="submit" mat-button>
        SUBMIT
      </button>
    </div>
  </form>