main {
    padding: 20px;
    min-height: 100vh;
}
.container {
    width: 80%;
    margin-left: auto; margin-right: auto;
    background-color: transparent;
    padding: 20px;
}
main h1 {
    text-align: center;
}
.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.619);
}
::ng-deep.mat-card {
    background: rgba(255, 255, 255, 0.799);
}
.title {
    position: sticky;
    top: 60px;
    z-index: 3;
    background-color: #2c42687b;
    padding: 20px;
    color: rgb(88, 70, 70);
}
.title h2 {
    text-align: center;
}

.img {
    overflow: hidden;
}

.img img {
    width: 100%;
}

.img-cart {
    margin-top: 50px;
    overflow: hidden;
    width: 20%;
    margin-right: auto; margin-left: auto;
}
.img-cart img {
    width: 100%;
}
.cart-msg{
    margin-top: 30px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

mat-spinner {
    margin-left: auto; margin-right: auto;
    margin-top: 30px;
}