<h2>Detail of Book</h2>
<div class="card">
    <div class="img">
        <img [src]="book.img"  alt="">
    </div>
    <div class="content">
        <h3 class="title" >{{ book.name }}</h3>
        <table>
            <tr>
                <td>Author</td>
                <td> : </td>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td> : </td>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <td>Date Publish</td>
                <td> : </td>
                <td>{{ book.publishDate }}</td>
            </tr>
        </table>
        <div class="conent">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor, illum minima nihil sequi quae maiores sed voluptate qui officia a, neque omnis ad, atque voluptatem quisquam magnam placeat quibusdam ducimus quis quas modi. Magni quidem accusantium nemo doloribus vitae explicabo voluptates porro fugiat ad quas quia, inventore excepturi, veritatis, quis quasi vel eveniet commodi quod pariatur esse provident eaque temporibus aspernatur? Expedita aspernatur natus deleniti corporis nulla est, odit impedit adipisci, aperiam recusandae quidem praesentium eos ut. Optio, quod cupiditate ipsum rerum alias id facilis velit impedit, excepturi possimus provident perspiciatis autem debitis illo deserunt assumenda quidem eaque quae.</p>
        </div>
    </div>
</div>