.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .img {
    overflow: hidden;
    height: 180px;
  }
  .price {
    float: right;
  }

  mat-card {
    position: relative;
    height: 450px;
  }

  .gray {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(61, 51, 51, 0.41);
    height: max-content;
  }
  .gray img {
    width: 100%;
  }