<a routerLink="/user/promo">Test</a> <br>
<a routerLink="/user/user">User</a> <br>

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.close()">
  
        <a mat-list-item routerLink="/promo">
          <mat-icon color='primary' aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <span> Promo </span>
        </a>
  
        <a mat-list-item routerLink="/user/user">
          <mat-icon color='primary' aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>
          <span> User </span>
        </a>
  
        <!-- <a mat-list-item routerLink="filter">
          <mat-icon color='primary' aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
          <span> Search </span>
        </a> -->
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
        <span> Table Promos </span>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  
  </mat-sidenav-container>



<!-- <app-promo-list></app-promo-list> -->