<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <div *ngFor="let item of nav">
        <a mat-list-item routerLink="/{{ item.route }}">
          <mat-icon color='primary' aria-hidden="false" aria-label="Example home icon" fontIcon="{{ item.icon }}"></mat-icon>
          <span>{{ item.name }}</span>
        </a>
      </div>

      
      <div *ngFor="let item of logStatus" >
        <a mat-list-item routerLink="/login">
          <mat-icon color='warn' aria-hidden="false" aria-label="Example home icon" fontIcon="supervisor_account"></mat-icon>
          <span> {{ item.name }} </span>
        </a>
      </div>

      <a *ngIf="!loged"else logout  mat-list-item routerLink="/login">
        <mat-icon color='warn' aria-hidden="false" aria-label="Example home icon" fontIcon="supervisor_account"></mat-icon>
        <span> Login </span>
      </a>

      <a *ngIf="loged"else logout  mat-list-item (click)="logOut()">
        <mat-icon color='warn' aria-hidden="false" aria-label="Example home icon" fontIcon="supervisor_account"></mat-icon>
        <span> Logout </span>
      </a>
      


    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
      <span> Reztaurant New Life </span>
    </button>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet> 
  </main>
  <!-- <app-homepage-main></app-homepage-main> -->
</mat-sidenav-container>
