mat-toolbar {
    position: fixed;
    z-index: 3;
}
main {
    background-color: #FFF8EA;
}

.nav-right {
    position: absolute;
    right:20px;
    color: white;
    display: flex;
    font-size: 16px;
}
.nav-right a {
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    flex: 1;
}
.log {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.679)
}


::ng-deep.mat-toolbar.mat-primary{
    background-color: #594545 !important;
    color: rgba(255, 255, 255, 0.719);
}

.nav-right a:hover {
    background-color: #eba4a4;
    padding: 0 10px;
    border-radius: 5px;
}

.nav-right a.active {
    background-color: #eba4a4;
    color: #4f2f2f !important;
    text-decoration: dashed !important;
    padding: 0 10px;
    border-radius: 5px;
}

