.img {
    width: 40%;
    height: 200px;
    overflow: hidden;
    margin-left: auto; margin-right: auto;
    margin-bottom: 20px;
}
img {
    width: 100%;
}
.card {
    padding: 20px;
    position: relative;
}
h3 {
    text-align: center;
}
.btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}