<div class="card">
    <div class="img">
        <img src="https://images.unsplash.com/photo-1579912437766-7896df6d3cd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29sZGllcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    </div>
    <div class="content">
        <h3>{{ user.name }}</h3>
        <table>
            <tr>
                <td>Age</td>
                <td>:</td>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <td>Position</td>
                <td>:</td>
                <td>{{ user.position }}</td>
            </tr>
        </table>
    </div>
    <button class="btn">Edit</button>
</div>