<h2>{{ "greet" | translate }}</h2>
<main>
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <label>{{ "user.civility" | translate }}</label> <br />
    <mat-radio-group formControlName="civility" aria-label="Select an option">
      <mat-radio-button value="Mr">{{ "Mr" | translate  }}</mat-radio-button>
      <mat-radio-button value="Ms">{{ "Ms" | translate }} </mat-radio-button>
      <mat-radio-button value="Mrs">{{ "Mrs" | translate }} </mat-radio-button>
    </mat-radio-group>
    <!-- <mat-error *ngIf="formUser.get('civility')?.errors?.['required']">This field is required!</mat-error> -->
    <mat-error
      *ngIf="
        !formUser.get('civility')?.valid &&
        formUser.get('civility')?.touched
      "
      class="help-block"
    >
      <mat-error *ngIf="formUser.get('civility')?.errors?.['required']">{{
        "validate.civility" | translate
      }}</mat-error>
    </mat-error>
    <br /><br />

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ "user.first name" | translate }}</mat-label>
            <input matInput type="text" formControlName="first_name" />
          </mat-form-field>
          <mat-error
            *ngIf="
              !formUser.get('first_name')?.valid &&
              formUser.get('first_name')?.touched
            "
            class="help-block"
          >
            <mat-error
              *ngIf="formUser.get('first_name')?.errors?.['required']"
              >{{ "validate.first name" | translate }}</mat-error
            >
          </mat-error>
          <!-- <mat-error *ngIf="formUser.get('first_name')?.errors?.['required']">This field is required!</mat-error> -->
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{ "user.last name" | translate }}</mat-label>
            <input matInput formControlName="last_name" />
          </mat-form-field>
          <mat-error
            *ngIf="
              !formUser.get('last_name')?.valid &&
              formUser.get('last_name')?.touched
            "
            class="help-block"
          >
            <mat-error
              *ngIf="formUser.get('last_name')?.errors?.['required']"
              >{{ "validate.last name" | translate }}</mat-error
            >
          </mat-error>
        </td>
      </tr>
    </table>

    <mat-form-field appearance="fill">
      <mat-label>{{ "user.date" | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birth_day" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error
      *ngIf="
        !formUser.get('birth_day')?.valid && formUser.get('birth_day')?.touched
      "
      class="help-block"
    >
      <mat-error *ngIf="formUser.get('birth_day')?.errors?.['required']">{{
        "validate.date" | translate
      }}</mat-error>
    </mat-error>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>{{ "user.gender" | translate }}</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{ gender.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>
      <mat-error
        *ngIf="
          !formUser.get('gender')?.valid && formUser.get('gender')?.touched
        "
      >
        <mat-error *ngIf="formUser.get('gender')?.errors?.['required']">{{
          "validate.gender" | translate
        }}</mat-error>
      </mat-error>
    </span>
    <br />
    <mat-error *ngIf="formUser.invalid && formUser.touched" class=""
      >{{ "validate.all" | translate }}
    </mat-error>
    <br />

    <div class="btn">
      <button mat-raised-button type="submit" mat-button>
        {{ "submit" | translate }}
      </button>
    </div>
  </form>
</main>
