mat-radio-button{
    margin-right: 25px;
}
main {
    width: 100%;
    margin-right: auto; margin-left: auto;
    border-radius: 10px;
    background-color: rgb(216, 196, 235);
    padding: 20px;
    box-sizing: border-box;
}
mat-form-field{
    width: 100%;
}

// mat-radio-button {
//     margin-bottom: 60px;
// }
table{
    width: 100%;
}
.btn {
    width: fit-content;
    margin-left: auto; margin-right: auto;
}