<main>
  <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <label>Civility</label> <br />
    <mat-radio-group formControlName="civility" aria-label="Select an option">
      <mat-radio-button value="Mr">Mr </mat-radio-button>
      <mat-radio-button value="Ms">Ms </mat-radio-button>
      <mat-radio-button value="Mrs">Mrs </mat-radio-button>
    </mat-radio-group>
    <!-- <mat-error *ngIf="formUser.get('civility')?.errors?.['required']">This field is required!</mat-error> -->
    <br /><br />

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="first_name" />
          </mat-form-field>
          <mat-error
            *ngIf="
              !formUser.get('first_name')?.valid &&
              formUser.get('first_name')?.touched
            "
            class="help-block"
          >
            <mat-error *ngIf="formUser.get('first_name')?.errors?.['required']"
              >First name is required!</mat-error
            >
          </mat-error>
          <!-- <mat-error *ngIf="formUser.get('first_name')?.errors?.['required']">This field is required!</mat-error> -->
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" />
          </mat-form-field>
          <mat-error
            *ngIf="
              !formUser.get('last_name')?.valid &&
              formUser.get('last_name')?.touched
            "
            class="help-block"
          >
            <mat-error *ngIf="formUser.get('last_name')?.errors?.['required']"
              >Last name is required!</mat-error
            >
          </mat-error>
        </td>
      </tr>
    </table>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birth_day" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error
      *ngIf="
        !formUser.get('birth_day')?.valid && formUser.get('birth_day')?.touched
      "
      class="help-block"
    >
      <mat-error *ngIf="formUser.get('birth_day')?.errors?.['required']"
        >Last name is required!</mat-error
      >
    </mat-error>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{ gender.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>
      <mat-error
        *ngIf="
          !formUser.get('gender')?.valid && formUser.get('gender')?.touched
        "
      >
        <mat-error *ngIf="formUser.get('gender')?.errors?.['required']"
          >Last name is required!</mat-error
        >
      </mat-error>
    </span>
    <br />
    <mat-error
        *ngIf="formUser.invalid && formUser.touched"
        class="">Please enter valid data!in this form
    </mat-error> <br>

    <div class="btn">
      <button mat-raised-button type="submit" mat-button>Submit</button>
    </div>
  </form>
</main>
