input {
    display: block;
    margin-top: 10px;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.btn {
    width: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-back {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.btn-add{
    border: 1px solid black;
}
.btn-dell {
    float: right;
}