main {
    width: 50%;
    margin-left: auto; margin-right: auto;
    height: 600px;
    background-color: rgb(8, 161, 232);
    padding: 20px;
    overflow-y: scroll;
}
.card {
    background-color: slateblue;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.title {
    text-align: center;
}