.log {
    overflow: hidden;
}
main{
    // background-image: url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    // background-repeat: no-repeat;
    // background-size: cover;
    color: wheat;
    height: 70vh;
    padding: 100px;
}
.container {
    width: 40%;
    margin-left: auto; margin-right: auto; margin-top: 90px;
    background-color: rgb(218 196 196 / 94%);
    border-radius: 20px;
    padding: 20px;
}
mat-form-field {
    width: 100%;
}

::ng-deep .mat-card {
    background-color: transparent;
}

::ng-deep .mat-raised-button.mat-primary {
    background-color: #594545;
}

button {
    width: 100%;
}

h2{
    text-align: center;
    // color: wheat;
}