main {
    padding: 20px;
    box-sizing: border-box;
    height: 400px;
    width: 90%;
    margin-left: auto; margin-right: auto;
}
h2 {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left{
    flex: 1;
}
.right{
    flex: 3;
}
.left .img {
    width: 100%;
}
.img img {
    width: 100%;
}