<main>
    <h2>ACTOR DETAIL</h2>
    <div class="row">
        <div class="left">
            <div class="img">
                <img [src]="actor.img" alt="">
            </div>
        </div>
        <div class="right">
            <h3>{{ actor.name }}</h3>
            <table>
                <tr>
                    <td>Birthday</td>
                    <td>:</td>
                    <td>{{ actor.born }}</td>
                </tr>
                <tr>
                    <td>Live</td>
                    <td>:</td>
                    <td>{{ actor.live }}</td>
                </tr>
                <tr>
                    <td>Motto</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis animi nostrum nobis optio dolore quisquam, minus neque numquam aperiam in ab temporibus eos similique quam aliquam ipsa quae laborum aliquid hic ut magnam ea fugit nesciunt? Labore, beatae exercitationem. Alias.
            </p>

        </div>
    </div>
</main>