<main>
    <header>
        <div class="row-head">
            <div class="col-60">
                <div class="img-banner">
                    <span *ngIf="!loaded" class="loader"></span>
                    <img [src]="!loaded ? imgWait : specialOffer[0].image" alt="">
                </div>
            </div>
            <div class="col-40">
                <div class="content-right">
                    <div class="title">
                        <h1>{{!loaded ? "NAME" : specialOffer[0].recipe_name }}</h1>
                    </div>
                    <div class="description-main">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus numquam assumenda, voluptate harum ratione explicabo. Eum magni voluptatum beatae doloribus veniam perspiciatis, vitae culpa fugiat quaerat! Aperiam ipsam dignissimos asperiores molestiae ad expedita, placeat quod inventore, reprehenderit voluptate quo sint.</p>
                        <div class="price">
                             <s> {{!loaded ? "XXX.XXX" : specialOffer[0].price | currency:"Rp. " }}, - </s>
                           
                            <!-- {{ recipes.price - (recipes.price * (recipes.discount/100)) | currency:"Rp. " }} -->
                        </div>
                        <div class="price">
                            {{!loaded ? "XXX.XXX" : specialOffer[0].price - (specialOffer[0].price * (specialOffer[0].discount/100)) | currency:"Rp. " }}
                        </div>
                        <button [disabled]="!loged || adm" (click)="openDialog( specialOffer[0]._id, specialOffer[0].available)" class="btn-big" >{{ "add to cart" | translate }}</button>
                    </div>

                    <h2>{{ "special offer" | translate }}</h2>

                    <div class="contain-option">
                        <div class="menu-option">
                            <mat-spinner class="special-menu" *ngIf="!loaded" ></mat-spinner>
                            <app-homepage-slide class="menu-list" *ngFor="let recipes of specialOffer" [recipes]="recipes">
                           
                            </app-homepage-slide>
                        </div>
                    </div>
                </div>
            </div>
        </div>

















    </header>

    <!-- <section>
        <div class="menu">
            <div class="row">
                <div class=" left-content">
                    <div class="img-sample">
                        <img src="../../../assets/img/sample-homepage.jpg" alt="">
                    </div>
                </div>
                <div class=" right-content">
                    <h2>Overview</h2>
                    <div class="tagline">
                        <div> A Little Information Just For You ..... </div><br> <br>
                        <div>Hangout experience good taste</div>
                    </div>
                    <div class="message">
                        <p>Here we attach brief data about our foods and beverages at Legawa space that will make it easier for you our guest at our restaurant to get know us, and understand how we can serve you well with all our heart that we give to provide the best service for all of you, and we want you to feel satisfaction, your satisfaction is our happiness</p>
                    </div>
                    <div class="information-precent row">
                        <div class="col precent">
                            <h1>10 <span class="plus">+</span> </h1>
                            <div>Meeting Room</div>
                        </div>
                        <div class="col precent">
                            <h1>20 <span class="plus">+</span> </h1>
                            <div>of all menus</div>
                        </div>
                        <div class="col precent">
                            <h1>15 <span class="plus">+</span> </h1>
                            <div>Event Spaces</div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
      
    </section> -->

    <!-- <section class="special-offer">
        <h2>{{ "special offer" | translate }}</h2>
        <div class="row">
            <mat-spinner *ngIf="!loaded" ></mat-spinner>
            <app-homepage-card class="col-20" *ngFor="let recipe of specialOffer" [recipe]="recipe" ></app-homepage-card>
        </div>

    </section> -->

    <section>
        <h2>{{ "recomended" | translate }} ...</h2>
        <div class="row">
            <mat-spinner *ngIf="!loaded" ></mat-spinner>
            <app-homepage-card class="col-20" *ngFor="let recipe of recipesHighlight" [recipe]="recipe" ></app-homepage-card>
        </div>
        <!-- <div class="row" *ngIf="recipesHighlight.length==0" >
            Item not available ...
        </div> -->
    </section>

    <section class="detail">
        <div class="row">
            <div class="col first">
                <div class="tagline">
                    <div>{{ "Enjoy" | translate }}</div> <br> <br>
                    <div>{{ "Hangout" | translate }}</div>
                </div>
                <div class="message">
                    {{ "MessageHome" | translate }}
                </div>
                <div class="img-peta">
                    <img src="../../../assets/img/peta/petaIndonesia.png" alt="">
                </div>
            </div>
            <div class="col second">
                <div class="content">
                    <h1>{{ "ABOUT" | translate }}</h1>
                    <p>{{ "Our Restaurant" | translate }}</p>
                    <hr>
                    <h2>{{ "Hours" | translate }}</h2>
                    <p> {{ "Monday" | translate }} - 08 am - 09 pm </p>
                    <p> {{ "Tuesday" | translate }} - 08 am - 09 pm </p>
                    <p> {{ "Wednesday" | translate }} - 08 am - 09 pm </p>
                    <p> {{ "Thrusday" | translate }} - 08 am - 09 pm </p>
                    <p> {{ "Friday" | translate }} - 08 am - 09 pm </p>
                    <p> {{ "Saturday" | translate }} - 08 am - 11 pm </p>
                    <p> {{ "Sunday" | translate }} - 07 am - 08 pm </p>

                    <br> <br>

                    <h2>{{ "phone" | translate }}</h2>
                    <p> 0899-999-666-444 </p>
                    <p> 0899-999-777-444 </p>
                    <br><br>
                    <h2>{{ "address" | translate }}</h2>
                    <p>St.Runner Faster 39</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        
    </footer>













    <!-- <div class="container">
        <div class="row">
            <div class="col">
                <div class="head-desc">
                    <h1>Special Delicious</h1>
                    <h2>all kinds of egg dishes</h2>
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum esse delectus veritatis provident at, explicabo nemo error rerum. Quisquam, consequatur corrupti voluptatum neque distinctio incidunt cupiditate minima reiciendis animi natus. Tempore aliquid iste sit ipsam hic reiciendis autem aperiam! Dolorem repellat ipsa accusamus rem ab error, id minima hic nisi repellendus excepturi laborum necessitatibus cum animi aliquam possimus officia quasi.
                    </p>
                </div>
                <div class="bot-desc">
                    <button class="btn-order" mat-raised-button color="primary">Go To </button>
                </div>
            </div>
            <div class="col">
                <div class="img-hero">
                    <img src="https://pngimg.com/uploads/fried_egg/fried_egg_PNG71.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
</main>