<main>
    <div class="container">
        <!-- <div class="img-hero">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/54/89/d2/parisian-benedict.jpg" alt="">
        </div>
        <div class="desc">
            <p>
                welcome to our simple restaurant, we provide a variety of dishes using eggs, from traditional to modern, you can enjoy them
            </p>
        </div> -->
        <div class="row">
            <div class="col">
                <div class="head-desc">
                    <h1>Special Delicious</h1>
                    <h2>all kinds of egg dishes</h2>
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum esse delectus veritatis provident at, explicabo nemo error rerum. Quisquam, consequatur corrupti voluptatum neque distinctio incidunt cupiditate minima reiciendis animi natus. Tempore aliquid iste sit ipsam hic reiciendis autem aperiam! Dolorem repellat ipsa accusamus rem ab error, id minima hic nisi repellendus excepturi laborum necessitatibus cum animi aliquam possimus officia quasi.
                    </p>
                </div>
                <div class="bot-desc">
                    <button class="btn-order" mat-raised-button color="primary">Go To </button>
                </div>
            </div>
            <div class="col">
                <div class="img-hero">
                    <img src="https://pngimg.com/uploads/fried_egg/fried_egg_PNG71.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>