// header{
//     background-color: #2C4268;
//     width: 100%;
//     height: 400px;
// }

.row .first {
    padding: 40px;
}
.row .first h2{
    // color: #FFF8EA;
    font-weight: bold;
    margin-bottom: 40px;
}
.row .first .tagline{
    // color: #FFF8EA;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.row .first .message{
    // color: #fff8eacb; 
    margin-bottom: 40px;
}

.row .first .reservation {
    border: none;
    background-color: #9E7676;
    padding: 15px;
    font-weight: bold;
    margin-right: 30px;
    // color: #dac1c1;
    cursor: pointer;
}

.row .first .reservation:hover {
    border-radius: 10px;
    background-color: #8c636396;
}

.row .second {
    padding: 30px;
    padding-bottom: 0;
    position: relative;
}

.row .second .best {
    border-radius: 100%;
    z-index: 3;
    position: absolute;
    background-color: #fff;
    width: 120px; height: 120px;
    bottom: -40px; left: 130px;
}

.row .second .best img {
    width: 100%;
    border-radius: 100%;
}

.row .second .img {
    margin-left: auto; margin-right: auto;
    padding: 20px;
    width: 42%;
    left: 160px;
    border-radius: 100%;
    overflow: hidden;
}

.row .second .img img {
    border-radius: 100%;
}

.row .img img {
    width: 100%;
}


.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.img-hero {
    width: 100%;
    overflow: hidden;
    margin-left: auto; margin-right: auto;
}
.img-hero img {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}
.col {
    flex: 1;
}
.col-20 {
    flex-basis: 20%;
}
.head-desc {
    padding-top: 50px;
}
.head-desc h1 {
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
}
.head-desc h2 {
    font-size: 35px;
    margin-bottom: 90px;
    font-weight: bold;
}
.desc p {
    font-size: 17px;
}
.btn-order {
    padding: 10px;
    width: 130px;
}

section{
    margin-top: 40px;
}
.row .left-content {
    padding: 40px;
    box-sizing: border-box;
    flex : 1;
}

.row .right-content {
    box-sizing: border-box;
    padding: 60px;
    color: black;
    flex: 2;
}

.img-sample {
    width: 100%;
    overflow: hidden;
    // margin-left: auto; margin-right: auto;
}

.img-sample img {
    width: 100%;
}

.right-content h2 {
    font-weight: bold;
    margin-bottom: 40px;
    color: orangered;
}

.right-content .tagline {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.right-content .message {
    margin-bottom: 40px;
}

.precent h1 {
    font-size: 40px;
    font-weight: bolder;
}
.plus {
    color: orangered;
}

.menu {
    padding: 40px;
}

h2{
    text-align: center;
}

footer{
    height: 40px;
}
.special-offer {
    width: 80%;
    margin-right: auto; margin-left: auto;
}


.gray {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(61, 51, 51, 0.41);
    height: 100%;
  }
  .gray img {
    margin-top: 70px !important;
    width: 100% !important;
  }

  // for header

.col-60{
    flex-basis: 60%;
    height: 100vh;
    background-color: red;
    position: relative;
}
.col-40{
    flex-basis: 40%;
    height: 100vh;
    background-color: #2C4268;
}
.row-head{
    display: flex;
    flex-direction: row;
}
.img-banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-banner img {
    width: 100%;
    height: 100%;
}
.content-right {
    padding: 40px;
    color: white;
}
.content-right .title h1 {
    color: white;
    font-size: 40px;
}
.description-main .price {
    font-size: 30px;
    margin-top: 50px;
    font-weight:600;
}
.btn-big {
    background-color: #7CCDF4;
    border: none;
    width: 180px;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: rgba(94, 83, 83, 0.818);
}
.btn-big:hover {
    background-color: #3c8db6;
}
.contain-option{
    margin-top: 20px; margin-left: -260px;
    width: 1000px;
    /* background-color: red; */
    height: 300px;
    overflow-x:scroll;
    overflow-y: hidden;
}

// custom scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #23233B; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #23233ba4; 
  }
// .contain-option::-webkit-scrollbar { 
//     // display: none;  /* Safari and Chrome */
//     // height: 10px;
//     // width: 100%;
// }
.menu-option {
    width: 250%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    height: 300px;
}
.menu-list {
    flex: 20%;
    position: relative;
    height: 300px;
}
.img-list {
    width: 100%;
    overflow: hidden;
    height: 300px;
    position: absolute;
}
.img-list img {
    width: 100%;
    float: right;
}
.desc-list {
    position: absolute;
    width: 40%;
    right: 0;
    top: 0px;
    bottom: 0px;
    background-color: #23233b81;
    z-index: 3;
    padding: 25px;
    box-sizing: border-box;
}
.desc-list:hover{
    background-color: #23233B;
}
.desc-list .title p {
    color: rgba(255, 255, 255, 0.719);
}
.add-cart {
    position: absolute;
    bottom: 0;
    width: 75%;
    border: none;
    padding: 10px;
    background-color: #3c8db6;
    color: white;
    
}
.add-cart:hover {
    background-color: #379ed2;
}
.disscount{
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: red;
    border-radius: 100%;
    left: -0px; top: -0px;
    z-index: 6;
}
.disscount h1 {
    text-align: center;
}
.special-menu {
    margin-left: 500px;
    margin-top: 100px;
}


//spinner 
.loader {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 40%; left: 50%;
    transform: translate(-50%);
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.content {
    text-align: center;
    width: 70%;
}
.content h1 {
    font-weight: bold;
}

.img-peta {
    width: 100%;
}
.img-peta img {
    width: 100%;
}

.detail {
    margin-bottom: -200px;
}