<main>
    <div class="container">
        <h1 class="title" >{{ "Food & Drink Management" | translate }}</h1>

        <button class="btn-add" (click)="openDialog()">{{ "Add Menu" | translate }}</button>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

            <form class="example-full-width" [formGroup]="findName">

              <ng-container matColumnDef="name">
                <th class="up" mat-header-cell *matHeaderCellDef>
                  {{ "Name" | translate }}
                  <div>
                    <mat-form-field class="example-full-width" >
                      <mat-label>{{ "Name" | translate }}</mat-label>
                      <input matInput type="text" formControlName="name" placeholder="find name ..."  />
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element">{{ element.recipe_name }}</td>
              </ng-container>

            <ng-container matColumnDef="status">
              <th class="up" mat-header-cell *matHeaderCellDef>
                {{ "Status" | translate }}
                <div>
                  <mat-form-field >
                    <mat-label>{{ "Status" | translate }}</mat-label>
                    <mat-select formControlName="status">
                      <mat-option *ngFor="let item of status" [value]="item">
                        {{item == null ? "All" : item | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                <button matTooltip="{{ element.status ? 'Set to un status' : 'Set to status' }}" mat-raised-button [color]="element.status == 'active' ? 'primary' : 'warn' " (click)="updateStatus({'id' : element._id,  'status' : element.status == 'draft' ? 'active' : 'draft'})">
                  <mat-icon *ngIf="element.status == 'active' " >check</mat-icon> 
                  <mat-icon *ngIf="element.status == 'draft' " >panorama_fish_eye</mat-icon> 
                </button>
              </td>
            </ng-container>       
 
            </form>


            <ng-container matColumnDef="specialOffer">
              <th class="" mat-header-cell *matHeaderCellDef>
                {{ "Special Offer" | translate }}
                <div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{ element.discount }} -->
                <button matTooltip="{{ element.special_offers ? 'Set to un special offers menu' : 'Set to special offers menu' }}" [disabled]="element.discount == 0 || element.status == 'draft'" mat-raised-button [color]="element.special_offers == true ? 'primary' : 'warn' " (click)="updateSpecial({'id' : element._id,  'special' : element.special_offers == false ? true : false})">
                  <mat-icon *ngIf="element.special_offers" >check</mat-icon> 
                  <mat-icon *ngIf="!element.special_offers" >panorama_fish_eye</mat-icon> 
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="highlight">
              <th class="" mat-header-cell *matHeaderCellDef>
                {{ "Highlight" | translate }}
                <div>
          
                </div>
              </th>
              <td mat-cell *matCellDef="let element">
                <button matTooltip="{{ element.highlight ? 'Set to un highlight menu' : 'Set to highlight menu' }}" mat-raised-button [disabled]="element.status !== 'active'" [color]="element.highlight== true ? 'primary' : 'warn' " (click)="updateHightlight({'id' : element._id,  'highlight' : element.highlight == false ? true : false})">
                  <mat-icon *ngIf="element.highlight" >check</mat-icon> 
                  <mat-icon *ngIf="!element.highlight" >panorama_fish_eye</mat-icon> 
                </button>
              </td>
            </ng-container>
        
            <!-- Position Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>{{ "Image" | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <div class="img">
                  <img [src]="element.image" alt="">
                </div>
              </td>
            </ng-container>

            <!-- Position Column -->

        
            
            <!-- Weight Column -->
            <ng-container matColumnDef="ingredients">
                <th mat-header-cell *matHeaderCellDef>{{ "Ingrediets" | translate }}</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngFor="let item of element.ingredients">
                        <td mat-cell>{{ item.ingredient_id.name }} ( {{ item.stock_used }} )</td>
                    </div>
                </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">
                Rp. {{ element.price }}
              </td>
            </ng-container>

            <ng-container matColumnDef="available">
              <th mat-header-cell *matHeaderCellDef>{{ "Available" | translate }}</th>
              <td mat-cell *matCellDef="let element">
                {{ element.available }}
              </td>
            </ng-container>
            
            <!-- Symbol Column -->


            <ng-container matColumnDef="action" style="text-align:center!important ;">
              <th mat-header-cell *matHeaderCellDef>{{ "Action" | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <input type="text" value="{{ element._id }}" hidden #_id>
                <input type="text" value="{{ element.recipe_name }}" hidden #name>
                <input type="text" value="{{ element.price }}" hidden #price>
                <input type="text" value="{{ element.image }}" hidden #image>

              <button matTooltip="Edit Food and Drink" [disabled]="element.status == 'active'" (click)="openEdit(_id.value, name.value, price.value, image.value, element.ingredients, element.discount)" mat-raised-button color="primary">
                  <mat-icon>edit</mat-icon>
              </button>
              <button matTooltip="Delete Food and Drink" [disabled]="element.status == 'active'" (click)="deleteRecipe(_id.value)" mat-raised-button color="warn">
                  <mat-icon>delete</mat-icon>
              </button>

              </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              
              <td class="mat-cell" colspan="4">
                  <mat-spinner [ngStyle]="{'display': loaded ? 'none' : 'block'}" ></mat-spinner>
              </td>
              <td class="mat-cell" colspan="4">
                {{ "No data matching the filter" | translate }}
              </td>
            </tr>
          </table>
            <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)"
                showFirstLastButtons="true">
            </mat-paginator>
    </div>
</main>