<header>

</header>
<main>
    <div class="title">
        <h2>Our Special Menu</h2>
    </div>


    <section class="row">
        <mat-spinner [ngStyle]="{'display': loaded ? 'none' : 'block'}" ></mat-spinner>

        <app-menu-card *ngFor="let recipe of recipes" [recipe]="recipe" class="col"></app-menu-card>
        <!-- <app-menu-card class="col"></app-menu-card>
        <app-menu-card class="col"></app-menu-card> -->
    </section>
    <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)"
         showFirstLastButtons="true">
    </mat-paginator>
</main>
