main {
    padding: 20px;
    width: 80%;
    margin-right: auto; margin-left: auto;
}
table {
    width: 100%;
    text-align:center;
}
.mat-header-cell.mat-column-action{
    text-align: center !important;
}
