<h2>Edit Stock Data</h2>
<div class="close" (click)="close()">
  <strong>X</strong>
</div>
<form [formGroup]="updateStock" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ "Name" | translate }}</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !updateStock.get('name')?.valid &&
          updateStock.get('name')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="updateStock.get('name')?.errors?.['required']"
          >{{ "name must fill" | translate }}</mat-error
        >
    </mat-error>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !updateStock.get('stock')?.valid &&
          updateStock.get('stock')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="updateStock.get('stock')?.errors?.['required']"
          >{{ "stock must fill" | translate }}</mat-error
        >
    </mat-error>


    <div class="btn-sub">
      <button type="submit" mat-button>
        {{ "SUBMIT" | translate }}
      </button>
    </div>
  </form>