mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.close {
    float: right;
    margin-top: -60px;
    cursor: pointer;
}

.btn-sub {
    background-color: #7CCDF4;
    border-radius: 10px;
}
.btn-sub button {
    border: none;
}
.btn-sub:hover {
    background-color: #4db9ef;
    border-radius: 10px;
}

.btn-top {
    background-color: #7CCDF4;
    width: 45%;
    display: inline-block;
    border-radius: 10px;
    margin-left: 10px; margin-right: 10px;
    box-sizing: border-box;
}
.btn-top button {
    width: 100%;
}

.cancel {
    color: white;
    background-color: #2C4268;
}