html {
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex: auto;
}
.box {
    width: 100%;
    margin: 20px;
    padding: 20px;
}
.container {
    width: 80%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 40px;
    padding: 20px 50px;
    background-color: #FFD1D1;
    border-radius: 5px;
    color: rgb(213, 199, 199);
}

form .name {
    display: block;
    width: 90%;
    background-color: rgba(230, 220, 220, 0.538)
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 30px;
}
form .name input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom : 1px solid black;
    color: rgb(49, 45, 45)
}
form .name input:focus {
    outline: none;
    color: rgb(49, 45, 45)
}
form .form-in {
    display: block;
    background-color: rgba(230, 220, 220, 0.538)
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 10px;

}
form .form-in input{
    background-color: transparent;
    border: none;
    border-bottom : 1px solid black;
    color: rgb(49, 45, 45);
    width: 100%;
}
form .form-in input:focus{
    outline: none;
    color: rgb(49, 45, 45)
}
form .form-txt {
    display: block;
    height: 100px;
    background-color: rgba(230, 220, 220, 0.538)
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 10px;

}
form .form-txt input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom : 1px solid black;
    height: 100%;
    color: rgb(49, 45, 45)

}
form .form-txt input:focus{
    outline: none;
    color: rgb(49, 45, 45)
}
form .form-choose {
    margin-bottom: 20px;
}
form .form-choose input {
    margin-left: 40px;
    color: black;
}
form .form-choose select {
    display: block;
    width: 50%;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 10px;
    color: rgb(49, 45, 45);
    border: none;
}
button#submit {
    background-color: rgba(230, 220, 220, 0.538)
    cursor: pointer;
    color: rgb(195, 180, 180);
    width: 100%;
    margin-left: auto; margin-right: auto;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
button#submit:hover {
    background-color: rgba(0, 0, 0, 0.208);
}
.profile {
    background-color: rgba(255, 255, 255, 0.285);
    padding: 30px;
    border-radius: 20px;
}
.profile table tr {
    height: 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.box-form .form-in {
    width: 90%;
}

.box-form .form-choose {
    width: 190%;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.row-form {
    display: flex;
}
.box-form {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #0000003e;
}
table {
    border: none;
    width: 100%;
    color: rgba(255, 255, 255, 0.732);
}
tr td:first-child {
    width: 160px;
    padding: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
}