<table mat-table [dataSource]="dataSource" class="">
  
    <!-- Long Name Column -->
    <ng-container matColumnDef="long_name">
      <th mat-header-cell *matHeaderCellDef>Long Name</th>
      <td mat-cell *matCellDef="let element">{{ element.long_name }}</td>
    </ng-container>
  
    <!-- Short Name Column -->
    <ng-container matColumnDef="short_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.short_name }}</td>
    </ng-container>
  
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>