<form class="example-full-width" [formGroup]="formPromos" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ref</mat-label>
      <input matInput type="text" formControlName="ref" placeholder="Ref ..."  />
    </mat-form-field>
    <mat-error *ngIf="!formPromos.get('ref').valid && formPromos.get('ref').touched" class="help-block">
      <mat-error *ngIf="formPromos.get('ref').errors['required']">{{ "inv.reff" | translate }}</mat-error >
    </mat-error >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ "image" | translate }}</mat-label>
      <input matInput type="text" formControlName="img" placeholder="img ..."  />
    </mat-form-field>
    <mat-error *ngIf="!formPromos.get('img').valid && formPromos.get('img').touched" class="help-block">
      <mat-error *ngIf="formPromos.get('img').errors['required']">{{ "inv.img" | translate }}</mat-error >
    </mat-error >
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ "titlee" | translate }}</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title ..."/>
    </mat-form-field>
    <mat-error *ngIf="!formPromos.get('title').valid && formPromos.get('title').touched" class="help-block">
      <mat-error *ngIf="formPromos.get('title').errors['required']">{{ "inv.title" | translate }}</mat-error>
    </mat-error>
  
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ "subtitle" | translate }}</mat-label>
      <input matInput type="text" formControlName="subtitle" placeholder="Subtitle ..." />
    </mat-form-field>
    <mat-error *ngIf="!formPromos.get('subtitle').valid && formPromos.get('subtitle').touched" class="help-block" >
      <mat-error *ngIf="formPromos.get('subtitle').errors['required']">{{ "inv.subtitle" | translate }}</mat-error>
    </mat-error>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{ "Description" | translate }}</mat-label>
      <input matInput type="text" formControlName="description" placeholder="Description..." />
    </mat-form-field>
    <mat-error *ngIf="!formPromos.get('description').valid && formPromos.get('description').touched" class="help-block" >
      <mat-error *ngIf="formPromos.get('description').errors['required']">{{ "inv.description" | translate }}</mat-error>
    </mat-error>
  
  
    <mat-error
      *ngIf="formPromos.invalid && formPromos.touched"
      class="">{{ "inv.err" | translate }}
    </mat-error> <br>
  
    <button class="btn" mat-flat-button color="primary" type="submit" [disabled]="formPromos.invalid">
      {{ "submit" | translate }}
    </button>
  </form>