mat-card {
  margin-top: 35px;
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .value-button {
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: rgb(125, 76, 76);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    margin: 0px;
    width: 40px;
    height: 37px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      margin: 0;
  }

  mat-card-content {
    width: 100%;
  }
  .img-card {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  .img {
    overflow: hidden;

  }
  .img-card img {
    width: 100%;
  }

  mat-card-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  mat-card-content .desc {
    flex: 4;
  }

  mat-card-content .img-card {
    flex: 1;
  }
.w-full {
  width: 100%;
}
.body-item {
  padding: 20px;
}
mat-card-title-group{
  width: 100%;
}
.item-mini {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(216, 192, 192, 0.546);
  background-color: #B2B0B0;
}
.body-item {
  flex: 4;
}
.body-img {
  flex: 1;
  position: relative;
}
.desc {
  float: right;
}
.btn-order {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .mat-card {
  background-color: #EBEBEB !important;
  color: black !important;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.517);
}

::ng-deep .mat-card-subtitle{
  color: rgba(0, 0, 0, 0.446) !important;
}

input{
  background-color: rgb(99, 14, 14);
  color: wheat;
  border: none;
}

.btn-order {
  background-color: #7CCDF4;
  padding: 10px;
  box-sizing: border-box;
}
.btn-order button {
  border: none;
  width: 100%;
  background-color: transparent;
}

.row {
  flex-basis: 30%;
}

.desc-prod {
  padding-left: 40px;
  padding-top: 10px;
  flex-basis: 40%;
}

.row.left{
  flex-basis: 40%;
}

.set {
  // background-color: red;
  height: 100%;
}

.col-25 {
  flex-basis: 25%;
}


.rows {
  display: flex;
  flex-direction: row;
}
.col-25.del {
  background-color: #2C4268;
  position: relative;
  cursor: pointer;
}

.col-25.del:hover {
  background-color: #44608f;
}

.white-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-25.edit {
  background-color: #7CCDF4;
  position: relative;
  cursor: pointer;
}

.col-25.edit:hover {
  background-color: #5bbced;
}

.example-card {
  position: relative;
}
.delete-all {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}