mat-card {
    margin-bottom: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: rgb(125, 76, 76);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      margin: 0;
  }

  mat-card-content {
    width: 100%;
  }
  .img-card {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -20%);
    border-radius: 5px;
  }
  .img-card img {
    width: 100%;
  }

  mat-card-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  mat-card-content .desc {
    flex: 4;
  }

  mat-card-content .img-card {
    flex: 1;
  }
.w-full {
  width: 100%;
}
.body-item {
  padding: 20px;
}
mat-card-title-group{
  width: 100%;
}
.item-mini {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(216, 192, 192, 0.546);

}
.body-item {
  flex: 4;
}
.body-img {
  flex: 1;
  position: relative;
}
.desc {
  float: right;
}
.btn-order {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep .mat-card {
  background-color: #815B5B;
  color: #FFF8EA;
}

::ng-deep .mat-card-subtitle{
  color: rgba(245, 222, 179, 0.781);
}

input{
  background-color: rgb(99, 14, 14);
  color: wheat;
  border: none;
}

::ng-deep .mat-raised-button.mat-primary{
  background-color: #9E7676 !important;
}

