<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ recipe.order_date }} </mat-card-title>
    </mat-card-title-group>

    <span (click)="deleteCart(recipe._id)" class="delete-all" matTooltip="{{ 'Delete all Transaction' | translate }}"><strong>X</strong></span>

    <div class="contain" *ngFor="let item of recipes">
        <div class="w-full item-mini"  >
       
            <div class="row">
                <div class="img-card">
                    <div class="img">
                        <img src="{{ item.recipe_id.image }}" alt="">
                    </div>
                </div>
            </div>
            <div class="row desc-prod">
                <h2>{{ item.recipe_id.recipe_name }}</h2>

                <mat-card-subtitle>
                    {{ "Note" | translate }} : {{ item.note }}
                </mat-card-subtitle>

                <span *ngIf="item.recipe_id.special_offers > 0">
                    <h3><s> {{ item.recipe_id.price | currency:"Rp. " }}</s></h3> 
                    <h3 *ngIf="item.recipe_id.special_offers" >{{ item.recipe_id.price - (item.recipe_id.price * (item.recipe_id.discount/100)) | currency:"Rp. " }}</h3>
                </span>
                <span *ngIf="item.recipe_id.special_offers == 0">
                    <h3>{{ item.recipe_id.price | currency:"Rp. " }} </h3> 
                </span>


                <form>
                    <div matTooltip="Decrease amount item" class="value-button" id="decrease" disable (click)="decreaseItem(item.amount, item._id)" value="Decrease Value">-</div>
                        <!-- <input type="number" id="number" value="{{ item.amount }}" /> -->
                        <div matTooltip="amount of item" class="amount">{{ item.amount }}</div>
                    <div matTooltip="Increase amount item" class="value-button" id="increase" (click)="increaseItem(item.amount, item._id)" value="Increase Value">+</div>
                </form>
            </div>
            <div class="row">
                <div class="set rows">
                    <div class="col-25"></div>
                    <div class="col-25"></div>
                    <div class="col-25 edit" (click)="openDialog({id:item._id, amount:item.amount, note:item.note})">
                        <mat-icon class="white-icon">edit</mat-icon>
                    </div>
                    <div class="col-25 del" (click)="deleteItem(item._id)">
                        <mat-icon class="white-icon">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-card-content class="footer-card">
        <div class="desc" >
            <!-- <button (click)="deleteCart(recipe._id)" mat-raised-button color="warn">Delete All</button> -->
        </div>
        <div class="" >
            <div>
                <strong>{{ "Amount price" | translate }} :{{ recipe.total | currency:"Rp. " }}</strong>
            </div>
        </div>
    </mat-card-content>

    <div class="btn-order">
        <button  (click)="buyItem()" color="primary"><strong>{{ "CHECKOUT" | translate }}</strong></button>
    </div>

  </mat-card>