<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ promo.title }}</mat-card-title>
      <mat-card-subtitle>{{ promo.sub_title }}</mat-card-subtitle>
    </mat-card-header>
    <div class="img">
      <img mat-card-image [src]="promo.image_url != '' || null ? promo.image_url : imgDefault" alt="imgDefault" />
    </div>
    <mat-card-content>
      <p>
        {{ promo.ref }}
      </p>
      <p>
        {{ promo.description }}
      </p>
    </mat-card-content>
  </mat-card>
  