<h2>{{ "Add Menu" | translate }}</h2>
<div class="close" (click)="close()">
  <strong>X</strong>
</div>
<main>
<form [formGroup]="formCart" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ "Amount" | translate }}</mat-label>
        <input matInput type="text" formControlName="amount" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !formCart.get('amount')?.valid &&
          formCart.get('amount')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="formCart.get('amount')?.errors?.['required']"
          >{{ "stock must fill" | translate }}</mat-error
        >
    </mat-error>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ "Note" | translate }}</mat-label>
        <input matInput type="text" formControlName="note" />
      </mat-form-field>
      <mat-error
        *ngIf="
          !formCart.get('note')?.valid &&
          formCart.get('note')?.touched
        "
        class="help-block"
      >
    <mat-error
          *ngIf="formCart.get('note')?.errors?.['required']"
          >note must fill</mat-error
        >
    </mat-error>

    <div class="btn-submit">
      <button type="submit" mat-button>
        {{ "SUBMIT" | translate }}
      </button>
    </div>
    <div class="btn-submit cancel">
      <button type="button" (click)="close()" mat-button>
        {{ "CLOSE" | translate }}
      </button>
    </div>
  </form>
</main>