<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a class="icon" href="/index.html"><strong>Han'S</strong></a></li>
            <li style="float:right"><a class="s-list" href="/view/shopping-list.html">Shopping List</a></li>
          </ul>
    </nav>

    <header class="header-about" >
        
    </header>

    <main>

        <section>
            <article>
                <h3>Desc</h3>
                <p>&emsp14; Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis accusamus, molestiae et dolores soluta illo corrupti culpa, voluptate illum officia, provident alias. Eius distinctio delectus, aperiam cupiditate voluptatum quia, ipsa soluta assumenda quis praesentium eveniet quisquam, vitae odio sunt libero iure velit? Eaque, aut eveniet nisi facere quos cupiditate aperiam veritatis culpa molestias porro architecto officia nesciunt, deleniti voluptatum harum repellat natus blanditiis atque debitis voluptates ad. Quibusdam doloremque magnam cum quis, quaerat commodi sit dolorem eligendi non, reprehenderit autem rem iusto id nulla ipsa necessitatibus! Magnam exercitationem aperiam eos, neque nam perspiciatis molestiae animi reiciendis unde ut odit nobis?</p>
            </article>
            <p>&emsp14; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere repellendus similique corporis deserunt veritatis quos debitis cumque. Accusamus quod quibusdam rem dolor in aliquam provident, voluptate inventore expedita error ullam dolorum ea nemo placeat quidem molestiae doloribus aspernatur cum qui repellendus, non eum ad. Nulla laborum consectetur id beatae maiores, assumenda in nesciunt suscipit ab commodi laboriosam quia itaque asperiores eveniet rerum. Dolorem libero porro in accusamus! Debitis distinctio ut quos laborum nulla atque ducimus odio deleniti nihil, repudiandae tempora!</p>
        </section>

        <section>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>About</h3>
                        </div>
                        <div class="card-body">
                            <p>&emsp14; Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quaerat commodi assumenda qui consequatur voluptatibus iusto vero veniam unde magnam et, delectus quidem incidunt explicabo nulla maxime alias nesciunt praesentium.</p>
                            <p>&emsp14; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et odit hic porro quidem repellat praesentium commodi vitae atque impedit sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Partners</h3>
                        </div>
                        <div class="card-body">
                            <ol>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ol>
                            <ol>
                                <li>Lorem, ipsum.</li>
                            </ol>
                            <ol>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ol>
                            <ol>
                                <li>Lorem, ipsum.</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h3>Team</h3>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit.</p>
                            <p>Lorem ipsum dolor sit.</p>
                            <p>Lorem ipsum dolor sit.</p>
                            <p>Lorem ipsum dolor sit.</p>
                            <p>Lorem ipsum dolor sit.</p>
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <ul class="mx-auto">
            <li><a class="active" href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
          </ul>
    </footer>
</body>
</html>