<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a class="icon" href="/index.html"><strong>Han'S</strong></a></li>
            <li style="float:right"><a class="s-list" href="/view/shopping-list.html">Shopping List</a></li>
          </ul>
    </nav>
    <header>
        <a href="/view/shopping-list.html"><p><span style="margin-top: 10px;" class="icon"><img src="/assets/img/icon/arrow-left.svg" alt=""></span> &emsp14; Shopping List</p></a>
        <div>
            <h2>Add New Item</h2>
            <button class="add-item">
                Submit
            </button>
        </div>

    </header>
    <main class="w-07 mt-2 mx-auto" >
        <section>
            <div class="row">
                <div class="col">
                    <form action="">
                        <label for="">Product Name :
                            <div class="form-input">
                                <input type="text" name="pName" placeholder="Enter Product Name ...">
                            </div>
                        </label>
                        <label for="">Price :
                            <div class="form-input">
                                <input type="text" name="pPrice" placeholder="Enter Product Price ...">
                            </div>
                        </label>
                    </form>
                </div>
                <div class="col">
                    <div class="upload">
                        <div class="input-file">
                            <label class="label-file" for="">
                                <input type="file" class="file-input" name="pPhoto" id="">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="preview" >
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="img">
                            <img src="/assets/img/arG14.jpg" alt="">
                        </div>
                        <div class="title">
                            <h4>Asus Rog Zepyrus G14</h4>
                        </div>

                        <div class="price price-preview">
                            <h4>IDR. 37.500.000, 00</h4>
                        </div>
    
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="img">
                            <img id="sImg" src="./assets/img/asrg15.jpg" alt="">
                        </div>
                        <div class="title">
                            <h4 id="sTitle" >Title</h4>
                        </div>
      
                        <div class="price price-preview">
                            <h4>IDR. <span id="sPrice" >-</span></h4>
                        </div>
    
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="img">
                            <img src="/assets/img/Lscr17.jpg" alt="">
                        </div>
                        <div class="title">
                            <h4>Asus Rog Scar 17</h4>
                        </div>
                
                        <div class="price price-preview">
                            <h4>IDR. 62.500.000, 00</h4>
                        </div>
    
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </section>
    </main>
    <footer>
        <ul class="mx-auto" >
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
          </ul>
    </footer>

    <script src="/assets/js/script.js"></script>
</body>
</html>