<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a class="icon" href="/index.html"><strong>Han'S</strong></a></li>
            <li style="float:right"><a class="s-list" href="/view/shopping-list.html">Shopping List</a></li>
          </ul>
    </nav>

    <header class="header-about" >
        
    </header>

    <main class="w-07 mt-2 mx-auto" >

        <section>
            <form action="">
                <label for=""> Problem
                    <div class="form-in">
                        <input type="text" placeholder="What can we help you ? " required>
                    </div>
                    <span></span>
                </label>
                <label for=""> Username
                    <div class="form-in">
                        <input type="text" placeholder="Username" required>
                    </div>
                    <span></span>
                </label>
                <label for=""> Role
                    <div class="form-in">
                        <input type="text" placeholder="Role" name="role" value="User" disabled>
                    </div>
                    <span></span>
                </label>
                <label for=""> Email
                    <div class="form-in">
                        <input type="email" placeholder="Email">
                    </div>
                    <span></span>
                </label>
                <label for=""> Subject
                    <div class="form-in">
                        <input type="text" placeholder="Subject">
                    </div>
                    <span></span>
                </label>
                <label for=""> Detail
                    <div class="form-in">
                        <textarea name="" placeholder="Detail" id="" cols="30" rows="10"></textarea>
                    </div>
                    <span></span>
                </label>

                <button>SUBMIT</button>
            </form>
        </section>

        <section id="contact" >
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="mini-logo">
                            <img src="../assets/img/call.png" alt="">
                        </div>
                        <h3 class="title" >Call us if u need Some help</h3>
                        <div class="contact">
                            <p>Mr.Charles(027444902)</p>
                            <p>Mr.Tom(027444944)</p>
                            <p>Ms.Tifa(027444947)</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="mini-logo">
                            <img src="../assets/img/wa.png" alt="">
                        </div>
                        <h3 class="title" >Text us if u need Some help</h3>
                        <div class="contact">
                            <p>Ms.Revi(0897686877)</p>
                            <p>Mr.Tomi(0897686808)</p>
                            <p>Ms.Calisa(099927390)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <footer>
        <ul class="mx-auto" >
            <li><a href="/view/about.html">About</a></li>
            <li><a class="active" href="/view/contact.html">Contact</a></li>
          </ul>
    </footer>
</body>
</html>