<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoping List</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a class="icon" href="/index.html"><strong>Han'S</strong></a></li>
          </ul>
    </nav>

    <header>
        <a href="/index.html"><p><span style="margin-top: 10px;" class="icon"><img src="/assets/img/icon/arrow-left.svg" alt=""></span> &emsp14; Home</p></a>
        <div>
            <h2>Shoping List</h2>
            <a href="/view/add-item.html"><button class="add-item">
                Add Item
            </button></a>
        </div>

    </header>

    <main class="w-07 mt-2 mx-auto" >
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/arG14.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>Asus Rog Zepyrus G14</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 37.500.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/Lscr17.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>Asus Rog Strix Scar 17</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 62.500.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/asrg15.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>Asus Rog Zepyrus G14</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 13.500.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/Lacn7.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>Acer Nitro 7</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 19.500.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/Lll7.webp" alt="">
                    </div>
                    <div class="title">
                        <h4>Lenovo Legion 7</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 20.999.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/Lhv16.png" alt="">
                    </div>
                    <div class="title">
                        <h4>HP Victus 16</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 15.799.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/LhpO15.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>HP Omen 15</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 26.699.900, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/LhpP15.webp" alt="">
                    </div>
                    <div class="title">
                        <h4>HP Pavillion 15</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 15.700.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/assets/img/LliG3.jpg" alt="">
                    </div>
                    <div class="title">
                        <h4>Lenovo Ideapad Gaming 3</h4>
                    </div>
                    <div class="desc">
                        <p>&emsp13; Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci suscipit vel eum natus minus ab necessitatibus quod illo nulla modi, enim quis rem autem.</p>
                    </div>
                    <div class="price">
                        <h4>IDR. 12.999.000, 00</h4>
                        <button class="b-buy">Buy</button>
                    </div>

                </div>
            </div>
        </div>
    </main>


    <footer>
        <ul class="mx-auto">
            <li><a href="/view/about.html">About</a></li>
            <li><a href="/view/contact.html">Contact</a></li>
          </ul>
    </footer>
</body>
</html>