footer {
    background-color: rgba(76, 183, 76, 0.782);
    height: 200px;
    margin-top: 20px;
    position: relative;
}
.credit {
    background-color: rgb(215, 187, 187);
    position: absolute;
    bottom: 0;
    width: 100%;
}
p {
    width: 190px;
    margin-right: auto; margin-left: auto;
}